/* pagestyle.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  
  .main-div {
    display: flex;
    flex-direction: row;
    height: 100%; 
    width: 100%;
  }
  
  .first-div {
    flex: 1;
    background-color: white;
  }
  
  .second-div {
    flex: 5;
    background-color: #fafafa;
  }
  
  .image-section > img {
    width: 250px;
    height: 80px;
  }
  
  .employee {
    height: 70px; 
    width: 100%; 
    background-color: #03aeee;
    border-radius: 50px 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .right-top {
    background-color: white;
    height: 80px;
  }
  
  .create-employee-div {
    margin-top: 18px;
    height: 80px;
    background-color: white;
    display: flex;
    /* justify-content: center; */
    padding-left:30px;
    align-items: center;
    font-weight: bold;
  }

  .icon{
    height: 30px;
    width: 30px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: #fafafa;
    border-color: #fafafa;
    border-width: 50px;
    border-radius: 50px;
    margin-right: 10px;
    margin-left: -130px;
  }
  
  .right-bottom {
    background-color: #fafafa;
    height: 1000px;
  }
  
  .form-box {display: flex;
    flex-direction: column;

    background-color:white;
    height: 300px;
    margin-top: 20px;
  }

  .f{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
  }

  /* form {
    display: flex;
    flex-wrap: wrap;
    
  } */
  
  .input-group {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    flex-direction: row;
    width: 300px;
    margin-left: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* input[type="submit"] {
    width: auto;
    background-color: blue;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
  } */
  
  /* input[type="submit"]:hover {
    background-color: #0056b3;
  } */

  .final{
    display:flex;
    flex-direction: row;

  }
  .button
  {
    width: 150px;
    margin-left: 10px;
    height:30px;
    background-color: rgb(93, 177, 247);
  }
  .button1
  {
    width: 150px;
    margin-left: 10px;
    height:30px;
  }